@import "tailwindcss";

body {
  @apply bg-gray-900 text-white;
}

/* Custom scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-gray-800;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-gray-600;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-500;
}
